<section>
  <header>
    <h2 class="text-lg font-medium text-gray-900">Update Password</h2>

    <p class="mt-1 text-sm text-gray-600">Ensure your account is using a long, random password to stay secure.</p>
  </header>

{{ form_start(passwordForm, {'attr': {'class': 'mt-6 space-y-6'} }) }}
    <div>

        {{ form_label(passwordForm.currentPassword,'Current Password', {'label_attr': {'class': 'block font-medium text-sm text-gray-700'}}) }}
        {% set currentPassword_error = form_errors(passwordForm.currentPassword) ? 'border-red-500': '' %}

        {{ form_widget(passwordForm.currentPassword, {'attr': {
            'class': (currentPassword_error)~'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500
                rounded-md shadow-sm mt-1 block w-full'
            }})
        }}
        {{ form_errors(passwordForm.currentPassword, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}

    </div>

    <div>

        {{ form_label(passwordForm.newPassword.first,'New Password', {'label_attr': {'class': 'block font-medium text-sm text-gray-700'}}) }}
        {% set new_password_error_first = form_errors(passwordForm.newPassword.first) ? 'border-red-500': '' %}

        {{ form_widget(passwordForm.newPassword.first, {'attr': {
            'class': (new_password_error_first)~'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500
                rounded-md shadow-sm mt-1 block w-full'
            }})
        }}
        {{ form_errors(passwordForm.newPassword.first, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}

    </div>

    <div>
        {{ form_label(passwordForm.newPassword.second,'Confirm Password', {'label_attr': {'class': 'block font-medium text-sm text-gray-700'}}) }}

        {{ form_widget(passwordForm.newPassword.second, {'attr': {
            'class': 'border-gray-300 focus:border-indigo-500 focus:ring-indigo-500
                rounded-md shadow-sm mt-1 block w-full'
            }})
        }}

    </div>

    <div class="flex items-center gap-4">

        {{ form_widget(passwordForm.save, {'attr': {
            'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer'
            }})
        }}


    {% for message in app.flashes('password-notice') %}
      <p
        x-data="{show: true}"
        x-show="show"
        x-transition
        x-init="setTimeout(()=> show=false, 2000)"
        class="text-sm text-gray-600" >{{message}}</p>
    {% endfor %}

    {{ form_end(passwordForm) }}
</section>
