<section>
  <header>
    <h2 class="text-lg font-medium text-gray-900">Profile Image</h2>

    <p class="mt-1 text-sm text-gray-600">Update your profile image</p>
  </header>

  <img src="{{ asset('uploads/'~app.user.image.path ?? '')}}"
    alt="profile image"
    style="width: 100px; height: 100%;" />

    {{ form_start(imageForm, {'attr': {'class': 'p-4'}})}}

    <label class="block mb-4">
      <span class="sr-only">Choose File</span>
        {{ form_widget(imageForm.imageFile, {'attr': {'class': 'block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0 file:text-sm file:font-semibold
            file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100'}})
        }}
        {{ form_errors(imageForm.imageFile, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}

    </label>

    {{ form_widget(imageForm.save, {'attr': {
        'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer'
        }})
    }}

    {% for message in app.flashes('image-notice') %}
      <p
        x-data="{show: true}"
        x-show="show"
        x-transition
        x-init="setTimeout(()=> show=false, 2000)"
        class="text-sm text-gray-600" >{{message}}</p>
    {% endfor %}

  {{ form_end(imageForm) }}
  {# <form action="{{ path('app_profile') }}" method="POST" class="p-4" enctype="multipart/form-data">
    <label class="block mb-4">
      <span class="sr-only">Choose File</span>
      <input type="file" name="image" class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
      <span class="text-red-600 text-sm">Error message</span>
    </label>

      <p
        x-data="{show: true}"
        x-show="show"
        x-transition
        x-init="setTimeout(()=> show=false, 2000)"
        class="text-sm text-gray-600" >Saved</p>
  </form> #}
</section>
